<div class="banner" id="banner">

</div>
<div class="content">
	<div class="category">
		<div class="container">
			<p  class='goRefferactive'>
				<a href='/referralactivity'>Go to win the free tickets & mobile phones , now >>></a>
				<a href="https://app.adjust.com/vbzvaj?campaign=PC&adgroup=Download&creative=Online" target="_blank" class='loadApp1'></a>
				<a href="https://itunes.apple.com/app/id1390426818?mt=8" target="_blank" class='loadApp2'></a>
			</p>
			<div class="con">
				<div class="refways">
					<div>
						<form class="form-inline clearfix">
							<div class="form-group">
								<span>Send app link to my friend's phone</span>
								<input type="text" class="form-control" placeholder="Mobile Number">
							</div>
							<a  id="shareBySms" class="shareBtn"></a>
							<div class="form-group form-group_2">
								<span class='webShareText'></span>
								<a id="webShare" class="webShare" target="_blank" href=""></a>
							</div>
							<a id="" class="facebook" target="_blank" href=""></a>
							<p class="checkError hidden">Please enter a valid Mobile No.</p>
						</form>
						<p class='copyText'></p>
						<div class='TipsMsg'>
							Successfully copied use code to the clipboard
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="caption">
		<div class="">
			<div class="berif clearfix">
				<p class='title1 font-Light'>Get ready to grab a host of benefits and rewards with HappyEasyGo’s Refer and Earn programme. Refer your friends and book a flight ticket for FREE. </p>
				<p class='title1 font-Light'>With HappyEasyGo’s Refer and Earn programme, you not only earn when the people referred by you sign up with HappyEasyGo, but also when someone referred by them registers. Therefore, you win a lot more! </p>
				<p class='title1 font-Light'>Ask your friends to download the HappyEasyGo app and sign up using your referral code, and earn the amazing benefits and rewards.</p>
				<p class='title2 font-Bold'>Take a look :</p>
				<img src="" alt="" class='img1' id='referImg'>
				<p class="tier font-Bold" style='color:#333;'>The two tiers of Refer and Earn are: </p>
				<p class="tier font-Light"><span>Tier 1 :</span>Your friends and family; the people you referred to sign up on HappyEasyGo.</p>
				<p class="tier font-Light"><span>Tier 2 :</span>People referred by your friends and family to sign up on HappyEasyGo.</p>
				<p class='title2 font-Bold' style='margin-bottom:10px;'>Rewards ： </p>
				<div class='rewards'>
					<p class='title font-Bold'>Rewards by Registrations:  <span class='font-Light'>You win Happy Gold whenever a Tier 1 or Tier 2 contact registers on the HappyEasyGo app. </span></p>
					<ul class='font-Light'>
						<li>
							<p><span class='re_tier'>Tier 1 :</span>These rewards are won when a friend or family member (Tier 1 individual) registers on the HappyEasyGo app using your referral code. Your account gets credited with <a href="/wallet-terms" id='price_1'></a> when this happens.</p>
						</li>
						<li>
							<p><span class='re_tier'>Tier 2 :</span>These rewards are won when someone referred by your friend or family (Tier 2 individual) registers on the HappyEasyGo app within 7 days using their referral code. Here, you get <a href="/wallet-terms" id='price_2'></a> with every sign up.</p>
						</li>
					</ul>
				</div>
				<div class='rewards'>
					<p class='title font-Bold'>Rewards by Booking :<span  class='font-Light'> You win Happy Gold whenever a Tier 1 or Tier 2 contact books a flight ticket with HappyEasyGo.</span></p>
					<ul class='font-Light'>
						<li>
							<p><span class='re_tier'>Tier 1 :</span>After registering with HappyEasyGo using your referral code, if any of your friends or family books a flight ticket with HappyEasyGo within the next one month, you win a reward of <a href="/wallet-terms" id='price_3'></a>.</p>
						</li>
						<li>
							<p><span class='re_tier'>Tier 2 :</span>If someone recommended by your friend or family books flight tickets with HappyEasyGo within the next one month, you earn <a href="/wallet-terms" id='price_4'></a>. </p>
						</li>
					</ul>
				</div>
				<p class="title_3 font-Light"><span>Tip: </span>You can make the most of HappyEasyGo’s Refer & Earn programme using any registered Indian mobile numbers starting with +91. Mobile numbers from other regions are not eligible for this offer, and thus, users cannot earn referral rewards using these numbers.</p>
				<!--<img src="<%= require('./images/1-3-p.png') %>" alt="" class='img1'>-->
				<p class='title1 font-Light' style='margin-top:20px;'>HappyEasyGo is also offering you a chance to take home a stylish<span style='color:#333;' class='font-Roman'> Samsung Galaxy S8, free flight ticket </span> and <span style='color:#333;' class='font-Roman'>discount vouchers for flight ticket bookings.</span></p>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class='font-Roman'>Ranking</th>
								<th class='font-Roman'>Reward for Top Referred Register</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Top 1</td>
								<td class="font-Bold">Samsung Galaxy S8</td>
							</tr>
							<tr>
								<td>Top 2</td>
								<td class="">1 free flight ticket </td>
							</tr>
							<tr>
								<td>Top 3</td>
								<td class='font-Light'>Voucher of Rs.500 discount on flights bookings</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class='font-Roman'>Ranking</th>
								<th class='font-Roman'>Reward for Top Referred Order</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Top 1</td>
								<td class="font-Bold">Samsung Galaxy S8</td>
							</tr>
							<tr>
								<td>Top 2</td>
								<td class="">1 free flight ticket </td>
							</tr>
							<tr>
								<td>Top 3</td>
								<td class='font-Light'>Voucher of Rs.500 discount on flights bookings</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class='title2 font-Bold' style='font-size:18px; margin-top:40px;'>To sum it all up:</p>
				<ul class='toSumIt clearfix'>
					<li>
						<p>01</p>
						<p>Install HEG APP</p>
					</li>
					<li>
						<p>02</p>
						<p>Create a free account</p>
					</li>
					<li>
						<p>03</p>
						<p>Sync your contacts</p>
					</li>
					<li>
						<p>04</p>
						<p>Earn  rewards</p>
					</li>
				</ul>
				<p class='title3 font-Light'>So, do not wait. Start referring today!</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="responseModal" role='dialog' tabindex="-1">
	<div class="modal-dialog" style="overflow: hidden;width:400px;">
		<div class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right:6px; top:3px; z-index: 100; font-size: 28px">
			<span aria-hidden="true">&times;</span>
		</div>
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title colorPri" style="font-size: 16px;" id="">Notice</h2>
			</div>
			<div class="modal-body clearfix">
				<p style="margin-bottom: 16px; font-size: 16px;">

				</p>
				<button data-dismiss="modal" aria-label="Close" class="btn btn-warning pull-right">OK</button>
			</div>
		</div>
	</div>
</div>