
<div class="content">
	<div class="container">
		<div class="wrap clearfix">
			<div class="title">
				<p>Explore the world with HappyEasyGo APP!</p>
			</div>
			<div class="phoneImg pull-left"></div>
			<div class="loadInfo pull-right">
				<form action="">
					<div class="mobile-box">
						<div class="clearfix" style="">
							<div style="width:20%;position: relative;" class="pull-left">
									<select name="" id="appLoadCodeSele" class="registerAreaCode form-control" style="display: inline-block; width: 74px;position: absolute;top:0;left:0;opacity:0;">
										<option value="91">India (+91)</option>
									</select>
								<input class="inputin showSelect" readonly style="width: 100%;padding-left: 12px;background-color:#fff;" value="+91">
								<b style="position: absolute;border-top: 4px solid #333;border-right: 3px solid transparent;border-bottom: 4px solid transparent;border-left: 3px solid transparent;right: 10px;top: 16px;"></b>
							</div>
							<div class="pull-left" style="width:47%;margin-right: 5%;">
								<input type="tel" name="mobileNo" style="width: 100%;"  maxlength="14" size="14" value="" class="inputin" autocomplete="off">
								<p class="checkError hidden">
									Please enter a valid cell phone number
								</p>
							</div>
							<div class="pull-left" style="width:28%;">
								<input type="button" id="sendMsgBtn"  class="btn" value="Submit" style="width: 100%;height: 34px;border-radius: 0;color: white; border-left: none;background: #F55D2D;">
							</div>
						</div>
						<!-- <p class="checkError hidden">Please enter a valid Mobile No.</p> -->
					</div>
				</form>
				<div class="loadWay clearfix">
						<div class="pull-left">
							<div class="loadWayBtn">
								<a href="https://app.adjust.com/v25vhqz?campaign=PC&adgroup=GooglePlayButton&creative=Online" target='_blank '>
									
								</a>
								<a href="https://itunes.apple.com/app/id1390426818?mt=8" target='_blank '></a>
							</div>
							<p>Download our cheap flights app now</p>
						</div>	
						<div class="pull-right dimensionalCode">
							<div class="dimensionalCodeImg"></div>
							<p>Download by QR code</p>
						</div>
				</div>
				<div class="describeInfo">
				<p class="">
					In the era where everything is just one click away who wants to waste their energy in flinging away heedlessly specifically when it is about travel.
				</p>
					<p>
						In past few decades travel industry has gone through a tremendous 
						technical advancement still we have different needs to cater in each 
						second. With various apps, customers aren’t just happy but confused 
						at the same time that which travel application is the best. Keeping the
						same contentment and anxiety in the mind at the same time we created 
						HappyEasyGo. As the name suggests we are not only here providing <a href="https://www.happyeasygo.com/flight" style='color:#0b9d78' title="Book Cheap Flight Tickets">cheap flights</a> but also leave our customer happy easy go.
					</p>
				</div>
			</div>
		</div>
		<div class="Classification clearfix">
				<ul class="classInfo">
					<li class="classInfo_li clearfix">
						<div class="item_1 item_left pull-left">
							<p class="item_title font-Bold"><span>why us?</span>Best Flight Booking Application.</p>
							<ul>
								<li>It is suitable for any age group as it is easy to access, no klutzy handling.</li>
								<li> Cheapest fares guaranteed.</li>
								<li>Wallet cash back on each booking.</li>
								<li>Astounding offers not only on first booking but also on each domestic and international bookings.</li>
								<li>All the modifications can be done in the app itself.</li>
								<li>24*7 customer support.</li>
								<li>No reckless cancellations.</li>
								<li>Secure payments and happy cash backs.</li>
								<li>App for both Android and IOS users.</li>
								<li>Get referral benefits, each time you refer a friend you will get Rs. 50 cash back. Multiply the referral to multiply your cash back.</li>
								<li>Pre-charged discount rewards for Frequent Flyers.</li>
							</ul>
						</div>
						<div class="item_right pull-right">
							<p class="item_title font-Bold">Book Flight Tickets On the HappyEasyGo App</p>
							<p class="item_2_p">
								About flights and airlines – When you book a flight our work does not get over with the checkout and 
								payment received yet we are dedicated to rendering a complete satisfaction of the customer. 
								Certain questions will arise to the certain customer as
							</p>
							<ul>
								<li>What time is my flight?</li>
								<li>Where can I find scheduled and actual arrival time?</li>
								<li>How can I check seating conditions?</li>
								<li> How can I manage my current and past bookings?</li>
							</ul>
							<p class="item_2_p">Well, you can access all this on our hassle-free app for both domestic and international travel.</p>
						</div>
					</li>
					<li class="classInfo_li clearfix">
						<div class="item_left pull-left">
								<p class="item_title font-Bold">HappyEasyGo App Features- What is different about this app?</p>
								<p class="item_2_p">
										It is not like other apps which is providing you the best search for flights but 
										also it is worth for your core satisfaction in monetary terms as well as travel.
								</p>
							<ul>
								<li>Seasonal offers for all types of flyers.</li>
								<li>Instant discounts on current bookings.</li>
								<li>Priority choice for Business trips.</li>
								<li>Check-in updates and change in timings updates.</li>
								<li>Happy wallet- Reward program to earn more cash and get more discounts.</li>
							</ul>
						</div>
						<div class="item_right pull-right">
								<p class="item_title font-Bold">Best app for <a style='color:#0b9d78' href="https://www.happyeasygo.com/flight" title="Book Cheap Flight Tickets">cheap flights</a> in India.</p>
							<ul>
								<li> 
									The time, when booking and managing <a href="http://www.happyeasygo.com" style='color:#0b9d78' title="Cheap Flight Booking Deals">domestic and international flights</a> , is a big hassle because of multiple options in search, 
									we are here we provide you the best according to your convenience and satisfaction.
								</li>
								<li>We compare before popping the result in your app.</li>
								<li>Your satisfaction is our progress.</li>
							</ul>
						</div>
					</li>
				</ul>
		</div>
		<div class="foot-Info">
			<p>With an urge of making Air travel More Secure and Efficient, we are here to serve you.</p>
		</div>
	</div>
</div>