<div class="container">
  <div class="content">
    <section class="title">
      <h2>Travel Insurance</h2>
    </section>
    <section class="terms">
      <table class="table1" border="0">
        <tr class="tr-title">
            <td class="border">Particulars</td>
            <td>Features</td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Age</td>
            <td class="td2-border">The policy covers persons in the age group of 6 months to 70 years.</td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Coverage Type</td>
            <td class="td2-border">Individual</td>
        </tr>
        <tr class="tr-title">
            <td class="border">Benefits</td>
            <td>
              <table>
                <tr>
                  <td>Sum Insured</td>
                  <td>Deductible</td>
                </tr>
              </table>
            </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Accident: Medical Treatment</td>
            <td>
              <table>
                <tr>
                  <td>100,000</td>
                  <td>Nil</td>
                </tr>
              </table>
            </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Medical Evacuation</td>
            <td>
                <table>
                  <tr>
                    <td>100,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Transportation of Mortal Remains</td>
            <td>
                <table>
                  <tr>
                    <td>100,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Total Loss of Checked-In Baggage</td>
            <td>
                <table>
                  <tr>
                    <td>10,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Delay of Checked-In Baggage</td>
            <td>
                <table>
                  <tr>
                    <td>3,000</td>
                    <td>12 Hrs</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Personal Liability</td>
            <td>
                <table>
                  <tr>
                    <td>100,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Personal Accident [24 Hrs]</td>
            <td>
                <table>
                  <tr>
                    <td>750,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
          <td class="border">Personal Accident - Carrier</td>
          <td>
              <table>
                <tr>
                  <td>-</td>
                  <td>Nil</td>
                </tr>
              </table>
            </td>
      </tr>
        <tr class="tr-fi">
            <td class="border">Trip Cancellation</td>
            <td>
                <table>
                  <tr>
                    <td>20,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Trip Curtailment</td>
            <td>
                <table>
                  <tr>
                    <td>20,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Flight Delay per 6 Hrs delay period upto 42 Hrs</td>
            <td>
                <table>
                  <tr>
                    <td>2,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi">
          <td class="border">Trip Delay per 6 Hrs delay period upto 42 Hrs</td>
          <td>
              <table>
                <tr>
                  <td>-</td>
                  <td>Nil</td>
                </tr>
              </table>
            </td>
        </tr>
        <tr class="tr-fi">
            <td class="border">Emergency Hotel</td>
            <td>
                <table>
                  <tr>
                    <td>20,000</td>
                    <td>10%</td>
                  </tr>
                </table>
              </td>
        </tr>
        <tr class="tr-fi last-tr">
            <td class="border">Emergency Travel</td>
            <td >
                <table>
                  <tr class="last-tr">
                    <td>20,000</td>
                    <td>Nil</td>
                  </tr>
                </table>
              </td>
        </tr>
      </table>
    </section>
  </div>
</div>