<div class="banner" id="banner">
</div>
<div class="content">
	<div class="container">
		<div class="wrap clearfix fontSz14">
			<h1 class="title">Spring Break Sale
			</h1>
			<div class="line2"></div>
			<div class="summary">
				<p class="padB10">
					Spring which is also called “Queen of the season” begins in February with a sense of joy and happiness. The days are pleasant, beauty pleases our eyes and music thrills <br> our ears.
				</p>
				<p>
					This charismatic season HEG presents the biggest surprise as “Spring Break Sale”. Book your dream destination with us at the lowest price ever and enjoy the serenity of <br> the season.
				</p>
				<p>
					Hurry up sale starts: 28 Feb 2018
				</p>
				<p class="padT10">
					<a href="https://app.adjust.com/xmfxff?campaign=Spring&adgroup=PC&creative=20180227" class="colorWar" target="_blank"><img src="<%=require('./images/google-play.png')%>" alt=""> </a>
				</p>
				<p class="fontB">
					Download HEG App
				</p>
			</div> 
			<div class="couponTable">
				<div class="row">
					<div class="col-sm-2">
						<p class="title fontB">PC & Msite</p>
					</div>
					<div class="col-sm-8">
						<div class="tableWrap">
							<div class="padB10">
								<table class="table table-bordered text-center">
									<thead>
										<tr class="titlebg">
											<th class="text-center fontB">HEG APP</th>
											<th class="text-center fontB">Reward</th>
											<th class="text-center fontB">Code</th>
										</tr>
									</thead>
									<tbody>
										<tr class="infobg">
											<td>New Register</td>
											<td>Get <span class="fontB">Rs.3000</span>  Happy Silver</td>
											<td>/</td>
										</tr>
										<tr class="infobg">
											<td>Domestic Flights</td>
											<td>Get <span class="fontB">Rs.400</span>  Off </td>
											<td>Apply: <span class="fontB">AppSpring400</span> </td>
										</tr>
										<tr class="infobg">
											<td>International Flights</td>
											<td>Get <span class="fontB">Rs.1000 </span> Off</td>
											<td>Apply: <span class="fontB">AppSpring1000</span> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="">
								<table class="table text-center table-bordered">
									<thead>
										<tr class="titlebg">
											<th class="text-center fontB">HEG website</th>
											<th class="text-center fontB">Reward</th>
											<th class="text-center fontB">Code</th>
										</tr>
									</thead>
									<tbody>
										<tr class="infobg">
											<td>Domestic Flights</td>
											<td>Get <span class="fontB">Rs.400 </span>Off </td>
											<td>Apply: <span class="fontB">Spring400</span> </td>
										</tr>
										<tr class="infobg">
											<td>International Flights</td>
											<td>Get <span class="fontB">Rs.1000</span>  Off</td>
											<td>Apply: <span class="fontB">Spring1000</span> </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- <div class="note">
							<h3 class="marB8">
								Note:
							</h3>
							<p>For order amount under Rs.5,000 on domestic flights, Instant Discount is not applicable with these coupon codes.
							</p>
							<p>
								For order amount under Rs.10,000 on international flights, Instant Discount is not applicable with these coupon codes.
							</p>
						</div> -->
					</div>
				</div>
			</div>
			<div class="tobook text-center">
				<a href="https://www.happyeasygo.com/?utm_source=Direct&utm_medium=SpringWeb&utm_campaign=BookNow" class="btn btn-primary fontSz18">Book Now</a>
			</div>
			<div class="note  text-center">
				<div class="dur">Register on HEG and avail Spring season sale offers before 31 march 2018.</div>
				<p class="fontB padT10">
					Get Set Go!
				</p>
			</div>
			<div class="terms  text-center">
				<a href="/springsale-terms/" class="colorPri">Terms & Conditions</a>
			</div>
		</div>
	</div>
</div>


