<div class="container">
  <div class="content clearfix">
    <div class="side pull-left">
      <img src="<%=require('./imgs/bestprice.png')%>" alt="" width="305" height="256">
      <p>GUARANTEED.</p>
    </div>
    <div class="pull-right right">
      <div class="caption">
        <h2 class="title">
          WE <strong class="warning" style="font-size: 54px;">GUARANTEE</strong> THE LOWEST PRICE <br> ON Flight YOU BOOK
        </h2>
        <p>
          Find a lower price, we'll refund you <strong class="warning" style="font-size: 42px;">200%</strong> of the difference.
        </p>
      </div>
      <div class="section">
        <h3 data-toggle='collapse' href="#section1" aria-expanded='false' aria-controls="section1">How Do I know if I Qualify</h3>
        <div class="textCon collapse" id="section1">
          <h4>The Happyeasygo.com Best Price Guarantee applies to every Airline Ticket Reservation sold on Happyeasygo.com!</h4>
          <p class="grayDark">
            The lower price, including taxes and fees, must be available to the general public for booking on a website in the same currency in India, using the same form of payment and from the same point of sale as your original reservation at the same time (valid for 5 minutes) when you contact us. The lower price must be an exact match to the itinerary booked on Happyeasygo.com, including offering a same cancellation policy and fare rule. For reservations that are not pre-paid, we will either help you cancel your reservation so you can rebook at the lower price, or we will refund 200% of the difference after travel is completed.
          </p>
          <h4>
            Here's what you need to look at to match itineraries:
          </h4>
          <p class="grayDark">
            Airline Tickets: same airline, flight numbers, travel dates, Departure &amp;Destination airports, number of ticketed passengers, cabin and class of service
          </p>
          <p class="grayDark">
            Our Best Price Guarantee does not apply to fares that aren't available to the general public, such as those for corporate customers, military personnel, students, children, senior citizens, groups, and members, as well as wholesaler and consolidator fares, convention rates, and fares purchased through coupon promotions, loyalty and other "reward" programs. Fares that have been partially refunded or canceled by Happyeasygo.com or others, and fares that are part of promotional packages or that include additional amenities, such as parking, meals or other services are excluded from the Best Price Guarantee.
          </p>
        </div>
      </div>
      <div class="section">
        <h3  data-toggle='collapse' href="#section2" aria-expanded='false' aria-controls="section2" >How Do I Claim My Refund?</h3>
        <div class="textCon collapse" id="section2">
          <h4>Contact us within 24 hours of booking to initiate your claim. </h4>
          <p class="grayDark">
            Tell us where you saw the lower price and send us the price details proof materials by Email within screenshot, including the Itinerary, Airline, Flight Numbers, Travel Dates, Departure &amp; Destination Airports, Cabin and Class of Service etc.
            We will verify the price and availability right then in 24hrs, and we will refund your 200% difference charge in 5 workdays if your claim is valid.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>