<div class="container">
  <div class="content" id="mainContent">
    <!-- <h2 class="title">
         Domestic Flight Booking Terms
    </h2>
    <section>
      <ul>
        <li>The total price displayed on the Site includes all applicable government taxes.</li>
        <li>You are required to pay the entire amount prior to the confirmation of your booking.</li>
        <li>There will be no refund for 'no-shows' or any partially unused flights.</li>
        <li>
          Refund against partially utilized ticket is as per Airlines terms and conditions and could take up to 90 days.
        </li>
        <li>
          To avail of infant fares, an infant must be under 24 months throughout the entire itinerary you are booking. This includes both onward and return journeys. If the infant is 24 months or above on the return journey, you'll need to make a separate booking using a child fare.
        </li>
        <li>
          Infants must be accompanied by an adult at least 18 years of age.
        </li>
        <li>
          All Tickets/Bookings issued to the customer shall additionally be governed under the terms and conditions as laid out by the respective Airlines / supplier.
        </li>
        <li>
          We recommend user to refer Airlines terms and conditions before booking the ticket.
        </li>
        <li>
          By accepting our booking terms, user is also agreeing to terms &amp; conditions of the respective Airline.
        </li>
        <li>
          HAPPYEASYGO charges a convenience charge of Rs.250/- for one way flights and Rs.500/- for roundtrip flights additionally on per passenger basis..
        </li>
        <li>
          Seats are subject to availability.
        </li>
        <li>
          All statutory taxes, surcharges and fees are to be paid by the passenger, as applicable on the date of travel.
        </li>
        <li>
          Flight schedules and timings are subject to regulatory approvals and change(s).
        </li>
        <li>
          The service fee for cancellation/amendment is Rs.1500/per ticket. HappyEasyGo will stop accepting cancellation/amendment requests within 4 hours before the flight departure.
        </li>
      </ul>
      <h3>Check-in:</h3>
      <div>
        <ul>
          <li>
            As per the Airline rules, the standard check-in time begins 2 hours before departure for domestic flights.
          </li>
          <li>
            The passenger needs to check-in at least 2 hrs. prior departure for Air India and Air India Express domestic flights else will be considered as a no show.
          </li>
          <li>Infants must have valid proof-of-age documents showing that the infant is less than two years old.</li>
          <li>Additional payment may be charged by the Airline for seat allocations.</li>
        </ul>
      </div>
      <h3>Amendments:</h3>
      <div>
        <ul>
          <li>
            HAPPYEASYGO can assist you with amendments to most bookings. In some cases, though, you'll need to contact the Airline directly.
          </li>
          <li>
            Every booking made on HAPPYEASYGO is subject to amendment charges levied by the Airline, which may vary by flight and booking class. The charges levied by Airlines are Non-Refundable in case of cancellation post amendment.
          </li>
          <li>In case of Online Reschedule, the existing booking id will be auto cancelled with applicable Airlines cancellation charges and a fresh booking id will be generated as per current pricing.</li>
          <li>If you amend your booking, you will be charged the difference in fare, if any, applicable when the amendment is made. However if the new fare is lower than the Original fare, difference in the amount will not be refunded, but the rebooking charges as applicable will be collected</li>
          <li>
            In addition to the Airline's amendment charges, HAPPYEASYGO charges an amendment handling fee of Rs. 1500 per passenger per sector.
          </li>
          <li>
            We'll collect these charges from you when we make the changes to your travel plans. We'll also collect the difference in fare, if any, applicable when the amendment is made.
          </li>
          <li>Depending on the Airline's policy, some booked fares may not be amended.</li>
          <li>All bookings made through us, can also be amended by calling up the Airline Call Center directly.</li>
          <li>For any amendments related to multi-itinerary reservations, call the 24x7 customer care numbers 1800-313-5699</li>
        </ul>
      </div>
      
      
      
      <h3>Cancellation Policy:</h3>
      <div>
        <ul>
          <li>
            Every booking made on HAPPYEASYGO is subject to cancellation charges levied by the Airline, which may vary by flight and booking class.
          </li>
          <li>
            Some booked fares may be non-refundable per the specific Airline's policy.
          </li>
          <li>Convenience fee is non-refundable in case of ticket cancellation by the user, or flight cancellation by the Airline.</li>
          <li>Online cancellations: Cancellations can be made online by signing your account. Step by step details for online cancellations are available here.</li>
          <li>Offline cancellations: We also accept cancellation requests through phone.</li>
          <li>HAPPYEASYGO cancellation charges: In addition to the Airline cancellation charges, HAPPYEASYGO will charge Rs. 1500 per passenger per sector for each cancellation.</li>
          <li>
            Only cancellation requests made online through our customer support shall be entertained. HAPPYEASYGO shall not be liable to entertain any cancellation requests made through any other medium.
          </li>
          <li>
            For e-tickets, if your cancellation request is made less than 4 hours before departure, you'll need to contact the Airline directly to get your reservation cancelled. We will not be able to provide any assistance for these cancellations.
          </li>
          <li>
            For e-tickets, if your cancellation request is made less than 24 hours before departure, you'll need to contact our customer care executive through telephone. The request through any other medium will not be entertained.
          </li>
          <li>
            If you have done a 'Web/Tele Check-in' with the Airline, get in touch with the Airline for cancellation. HAPPYEASYGO will not be able to process the refund for the same and will not take any responsibility for the same.
          </li>
          <li>
            To cancel the tickets over the phone, call the 24x7 customer care numbers 1800-313-5699 .
          </li>
          <li>
            For any cancellation made by you for which refund is already processed and if it is found that you have used/made changes to the ticket on the same PNR directly with the airline, HAPPYEASYGO reserves the right to debit your original mode of payment against the amount which has been refunded to you.
          </li>
        </ul>
      </div>

      <h3>Refund:</h3>
      <ul>
        <li>
          It is mandatory to contact HAPPYEASYGO for all refunds, as the Airline will not be able to refund your tickets booked at <a href="http://www.happyeasygo.com">www.Happyeasygo.com</a>.
        </li>
        <li>
          All cancellations made directly with the Airline need to be intimated to HAPPYEASYGO by Email or Phone in order to initiate the refunds process
        </li>
        <li>
          Processing times for cancellation and refund requests vary.
        </li>
        <li>Convenience charge of INR 1500/- shall be applicable on all cancellations including partial cancellation requests</li>
        <li>The refund will be credited back to the same account from where the payment was made. For example, if the User used a credit card, HAPPYEASYGO will make an appropriate charge reversal. If the User used a debit card, HAPPYEASYGO will credit the money back to the debit card.</li>
        <li>On the event of cancellation and refund of partially utilized tickets upfront discount, promo code and Happy Wallet discount availed at the time of booking would be deducted from the refund amount.</li>
        <li>
          In case, where the user has cancelled his/her booking directly with the Airlines, he/she will need to inform HAPPYEASYGO with valid documentation to initiate the refund process. It is advisable to contact HAPPYEASYGO within 48 hours of the cancellation request.
        </li>
        <li>
          The meal amount is non-refundable. (Refundable only if the flight is cancelled by the Airlines).
        </li>
        <li>
          HAPPYEASYGO will be able to initiate customer's refund only after receipt and/or confirmation of refund from the Airline.
        </li>
      </ul>

      <h3>No Show</h3>
      <ul>
        <li>
          The Airline reserves the right of admission or boarding for onward or return flight, in case the customer fails to board any segment of the travel for his itinerary. HAPPYEASYGO shall not be responsible or liable for such refusal of admission or boarding.
        </li>
        <li>
          HAPPYEASYGO will not be responsible for any flight reschedule/cancellations by the airline.
        </li>
        <li>
          For complete flight booking terms and conditions <a href="www.happyeasygo.com/conditions">click here</a>.
        </li>
      </ul>
      <h3>Happy Wallet Terms and Conditions</h3>
      <ul>
        <li>
          In the event that the Customer opts for a refund in the form of Happy Wallet, the Customer may receive bonus Happy Wallet in accordance with the promotional offers available from time to time.
        </li>
        <li>
          In order to redeem the Happy Wallet, the Customer will Log in to his/her HAPPYEASYGO account.
        </li>
        <li>
          Happy Wallet will be redeemable on any Products on HAPPYEASYGO.
        </li>
        <li>
          One Happy Wallet credit shall be equal to one Rupee.
        </li>
        <li>
          Every transaction where the customer uses Happy Wallet as a mode of payment will be validated through HAPPYEASYGO username and payment password.
        </li>
        <li>
          Happy Wallet redemption will be on First in First out basis: i.e. the Happy Wallet granted first will be utilized first with the exception of bonus Happy Wallet. Bonus Happy Wallet will be redeemed only after all other Happy Wallet has been redeemed.
        </li>
        <li>
          Each time that the Customer redeems his/her Happy Wallet, the same will be intimated to the Customer on his/her email and/or mobile.
        </li>
        <li>HAPPYEASYGO shall not be liable for any hacking or unauthorized use of the Customer’s account and it shall be the sole responsibility of the Customer to ensure privacy and confidentiality of his/her account details.</li>
        <li>In case of any disputes, HAPPYEASYGO’s decision will be final.</li>
        <li>Bonus Happy Wallet are the credits offered by HAPPYEASYGO to the user for which user has not paid any amount to HAPPYEASYGO.</li>
        <li>When a Customer makes a booking utilizing his bonus Happy Wallet, in event of cancellation of the booking, the bonus Happy Wallet used shall be credited back to his account.</li>
        <li>In case of the bookings made using Happy Wallet as a mode of payment, the promo-code discount that requires filling in credit card/debit card/net-banking details for validation will not be applicable or availed on bookings done using Happy Wallet.</li>
        <li>HAPPYEASYGO holds the right to cancel all or partial bonus Happy Wallet granted to the user by HAPPYEASYGO at any point in time without any prior notice.</li>
        <li>In addition to the above, refund is also subject to HAPPYEASYGO general terms &amp; conditions available on www.happyeasygo.com</li>
      </ul>
      <p>
        Note: Happyeasygo.com is a facilitation platform providing easy and convenient access to reservations. Due to the volatile nature of the aviation industry, Airlines delay and default in refund of tickets. Happyeasygo.com shall be in a position to process customer refunds against flight tickets only if the same have been refunded by the respective Airline. In the event an Airlines discontinues its operations, Happyeasygo.com will not be accountable for any customer refunds wherein the same have not been refunded by the Airlines.
      </p>
    </section> -->
    
  </div>
  <!--<div class="content" style="padding-top: 0">
    <section>
        <p>
            Note: Happyeasygo.com is a facilitation platform providing easy and convenient access to reservations. Due to the volatile nature of the aviation industry, Airlines delay and default in refund of tickets. Happyeasygo.com shall be in a position to process customer refunds against flight tickets only if the same have been refunded by the respective Airline. In the event an Airlines discontinues its operations, Happyeasygo.com will not be accountable for any customer refunds wherein the same have not been refunded by the Airlines.
          </p>
    </section>
  </div>-->
</div>