<div class="content">
	<div class='head'>
		<div class="flightSearchBar">
			<%=require('../../../_component/flightSearch/search.ejs')()%>
		</div>
		<div class="banner" id="banner">	
			
		</div>
	</div>
	
	<div class="wrap">
		<div class="container">
			<p class='title font-Bold'>Book International GoAir Flight Tickets with HappyEasyGo</p>
			<p class="title_1">GoAir is stepping into the world of international flights, and now you have the chance to explore your favourite global destinations within your budget. 			Book cheap GoAir international flight tickets on HappyEasyGo and embark on a memorable vacation with your family or friends. 
			</p>
			<div class="con">
				<p class="con_title">Phuket</p>
				<p class="title_1">Phuket, a mesmerising realm of pristine islands, sparkling waters, golden sands and undisturbed greenery, casts a spell on you in a heartbeat. Always a hit 		among honeymooners, nature lovers and party people, this paradise is laden with indulgent spas, luxurious resorts, bustling markets and everything else you look for in a 		holiday destination. 
				</p>
				<p class='title_1'>Our flight details: </p>
				<ul class='ul_1'>
					<li style='width:110px'>From</li>
					<li style='width:90px'>To</li>
					<li style='width:160px'>Dep.(Local)</li>
					<li style='width:150px'>Arr.(Local)</li>
					<li style='width:140px'>Frequency</li>
					<li style='width:180px'>Effective from</li>
					<li style='width:290px'>Introductory return fare</li>
				</ul>
				<div class='table_box clearfix'>
					<div class="ul_box pull-left">
						<ul>
							<li style='width:109px'>Mumbai</li>
							<li style='width:90px'>Phuket</li>
							<li style='width:160px'>1:25</li>
							<li style='width:150px'>7:25</li>
							<li style='width:140px'>Mon, Wed, Sat</li>
							<li style='width:179px'>13th Oct'18</li>
						</ul>
						<ul>
							<li style='width:109px'>Phuket</li>
							<li style='width:90px'>Mumbai</li>
							<li style='width:160px'>8:30</li>
							<li style='width:150px'>12:00</li>
							<li style='width:140px'>Tue, Fri, Sun</li>
							<li style='width:179px'>12th Oct'18</li>
						</ul>
					</div>
					<div class='introFare pull-right'>Around ₹18,799**</div>
				</div>
				<div class='table_box clearfix'>
					<div class="ul_box pull-left">
						<ul>
							<li style='width:109px'>Delhi</li>
							<li style='width:90px'>Phuket</li>
							<li style='width:160px'>1:10</li>
							<li style='width:150px'>7:25</li>
							<li style='width:140px'>Thu, Sun</li>
							<li style='width:179px'>11th Oct'18</li>
						</ul>
						<ul>
							<li style='width:109px'>Phuket</li>
							<li style='width:90px'>Delhi</li>
							<li style='width:160px'>8:30</li>
							<li style='width:150px'>11:55</li>
							<li style='width:140px'>Wed, Sat</li>
							<li style='width:179px'>13th Oct'18</li>
						</ul>
					</div>
					<div class='introFare pull-right'>Around ₹18,799**</div>
				</div>
			</div>
			<div class="con">
				<p class="con_title">Malé</p>
				<p class="title_1">The Maldives is a tropical heaven nestled amidst the waters of the Indian Ocean. It is defined by its vivid coral reefs, scenic beaches, gorgeous lagoons and sun-kissed beaches. Fly off to its capital, Malé, and kick off a truly delightful vacay. 
				</p>
				<p class='title_1'>Our flight details: </p>
				<ul class='ul_1'>
					<li style='width:110px'>From</li>
					<li style='width:90px'>To</li>
					<li style='width:160px'>Dep.(Local)</li>
					<li style='width:150px'>Arr.(Local)</li>
					<li style='width:140px'>Frequency</li>
					<li style='width:180px'>Effective from</li>
					<li style='width:290px'>Introductory return fare</li>
				</ul>
				<div class='table_box clearfix'>
					<div class="ul_box pull-left">
						<ul>
							<li style='width:109px'>Mumbai</li>
							<li style='width:90px'>Malé</li>
							<li style='width:160px'>13:30</li>
							<li style='width:150px'>15:50</li>
							<li style='width:140px'>Tue, Fri, Sun</li>
							<li style='width:179px'>14th Oct'18</li>
						</ul>
						<ul>
							<li style='width:109px'>Malé</li>
							<li style='width:90px'>Mumbai</li>
							<li style='width:160px'>16:50</li>
							<li style='width:150px'>20:00</li>
							<li style='width:140px'>Tue, Fri, Sun</li>
							<li style='width:179px'>14th Oct'18</li>
						</ul>
					</div>
					<div class='introFare pull-right'>Around ₹19,799**</div>
				</div>
				<div class='table_box clearfix'>
					<div class="ul_box pull-left">
						<ul>
							<li style='width:109px'>Delhi</li>
							<li style='width:90px'>Malé</li>
							<li style='width:160px'>12:45</li>
							<li style='width:150px'>16:20</li>
							<li style='width:140px'>Wed, Sat</li>
							<li style='width:179px'>17th Oct'18 </li>
						</ul>
						<ul>
							<li style='width:109px'>Malé</li>
							<li style='width:90px'>Delhi</li>
							<li style='width:160px'>17:20</li>
							<li style='width:150px'>22:10</li>
							<li style='width:140px'>Wed, Sat</li>
							<li style='width:179px'>17th Oct'18</li>
						</ul>
					</div>
					<div class='introFare pull-right'>Around ₹18,799**</div>
				</div>
			</div>
		</div>	
	</div>
</div>





