
<div class="banner" id="banner">
</div>
<div class="flightSearchBar ST">
  <%=require('../../_component/flightSearch/search.ejs')()%>
</div>
<div class="content">
	<div class="container">
		<div class="wrap clearfix fontSz14" style="width:925px">
			<h1 class="title text-center">Spring Travel Offer
			</h1>
			<div class="summary center-block marB10" >
				<p class="padB10">
					Begin with fresh flowers and sunshine, Spring is the time of plans and projects. Start this year with your dreaming destination travel, get out of your usual surroundings and have an eye-opening, relaxing, or just plain fun experience somewhere new. 
				</p>
				<p>
					HappyEasyGo comes out the Spring Travel Offer, giving you enormous discounts on the air travel to your ideal places. Lowest price guaranteed on your flight you book with us!
				</p>
			</div> 
			<div class="fontSz24  marT10 padT10" style="line-height:40px;">
				<h4>Domestic flight:</h4>
				<!-- <p><span class="colorDan">Rs.250</span> instant discount by Coupon code: <span class="fontB">HEGDOM</span> on desktop & mobile site</p> -->
				<p><span class="colorDan">Rs.100</span> instant discount by Coupon code: <span class="fontB"> APPDOM</span> on HEG App</p>
			</div>
			<div class="fontSz24  marT10 padT10 marB20" style="line-height:40px;">
				<h4>International flight: </h4>
				<p><span class="colorDan">Rs.500</span> instant discount by Coupon code: <span class="fontB">HEGINT</span> on desktop & mobile site</p>
				<p><span class="colorDan">Rs.700</span> instant discount by Coupon code: <span class="fontB">APPINT</span> on HEG App</p>
			</div>
			<p>All coupon codes are valid till tomorrow. Book tickets now, you’ll get huge discount instantly. </p>
			<div class="text-img text-center marT10 padT10">
				<img src="<%=require('./images/text-img.png')%>" alt="">
			</div>
			<div class="tobook text-center">
				<a href="https://www.happyeasygo.com/?utm_source=Direct&utm_medium=SpringWeb&utm_campaign=BookNow" class="btn btn-primary fontSz18">Book Now</a>
			</div>
			<div class="terms  text-center">
				<a href="/SpringTravel-terms/" class="colorPri">Terms & Conditions</a>
			</div>
		</div>
	</div>
</div>


