<div class="banner" id="banner">
</div>
<div class="content">
	<div class="caption">
		<div class="container">
			<div class="berif">
				<ul class="clearfix">
					<li>
						Valid from <span class="fontB" id="startTime">30 Aug 2017</span>
					</li>
					<li>
						Applicable on<span class="fontB"> Domestic Flights</span>
					</li>
					<li>
						Applicable to <span class="fontB">PC </span>
					<span class="fontB" style="color: rgb(252,60,84);">&amp; APP</span>
					</li> 
					<li>
						Valid till <span class="fontB" style="color: rgb(252,60,84);" id="endTime">31 Dec 2018</span>
					</li>
				</ul>
			</div>
			<div class="dec"> 
				<h2 class="title colorWar">
					HappyEasyGo Cashback Program
				</h2>
				<p class="marginB">
					Book your tickets with cashback option on HappyEasyGo.com and get upto  <span class="colorWar fontB">Rs.30000</span> cashback per booking. The amount will be credited in your Happy Wallet immediately after the departure of the flight. Enjoy this cashback for further bookings.
					
				</p>
				<p>You can check your cashback in your Account Center and call on our 24/7 customer service  for further inquiries.</p>
				<div class="cashStyle">
					<div class="row">
						<div class="col-sm-6">
							<div class="cashbackP">
								<h3 class="title colorPri">
									Cashback Price
								</h3>
								<div class="style">
									<span class="colorDan oFare">
										<i class="rs">Rs.</i>
										<span >3,820</span>
									</span>
									<img src="<%=require('./images/cashback.jpg')%>" alt="">
									<span class="colorPri cFare">
										<i class="rs">Rs.</i>
										<span >368</span>
									</span>
								</div>
								<div class="explain">
									Book tickets with Cashback price option and get good cashback per ticket. 
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="cashbackP">
								<h3 class="title colorPri">
									Premium Cashback
								</h3>
								<div class="style">
									<span class="colorDan oFare">
										<i class="rs">Rs.</i>
										<span >5,820</span>
									</span>
									<img src="<%=require('./images/cashback.jpg')%>" alt="">
									<span class="colorPri cFare">
										<i class="rs">Rs.</i>
										<span >1,368</span>
									</span>
								</div>
								<div class="explain">
									Book tickets with Free Reschedule Price, you can not only get a great Cashback amount per ticket, but also each person in your order can get 1 time to reschedule your flights without any charges.
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="marginB">
					OOPS, not registered yet? Register now and start experiencing HappyEasyGo Cashback Program! <a href="/static/tpl/register.html" data-toggle="modal" data-target="#register_modal" class="colorWar">Sign up</a>
				</p>
				<!-- <p class="marginB">
					Additionally, you can top-up your Happy Gold account here and get 1% extra on the amount you transferred. <a href="/top-up" class="colorWar">Know more</a>.</span>
				</p> -->
				<div class="goRecharge marginB">
					<a href="/">Book Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="category">
		<div class="container">
			<div class="con clearfix row">
				<div class="col-sm-3">
					<div class="side left">
						<!-- <div class="piece">
							<h3>
								Deals in Your Inbox
							</h3>
							<div class="p-con">
								<p class="deals">
									Sign up for emails from HappyEasyGo about travel deals and promotions.
								</p>
								<form class="form-inline">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control">
											<div id="signUp" class="input-group-addon btn-warning btnInline active">
												Sign Up
											</div>
										</div>
									</div>
								</form>
							</div>
						</div> -->
						<div class="piece">
							<h3>
								Similar Offer
							</h3>
							<div class="p-con">
								<ul class="offers">
									<!-- <li><a href="/top-up"> Top-up Reward Program</a></li> -->
									<!-- <li><a href="">HappyEasyGo Referral Program</a></li> -->
									<li><a href="/wallet-terms">Happy Wallet Program</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="side right">
						<div class="piece">
							<h3>
								About The Offer
							</h3>
							<div class="p-con">
								<div class="fore">
									<ul class="title clearfix">
										<li>
											<p>How to book with cashback price and get your cashback</p>
										</li>
									</ul>
									<div class="forecon getCash">
										<div class="verticalLine"></div>
										<ul>
											<li class="clearfix">
												<span class="no no1">01</span>
												<span class="text">Sign up/sign in and search your flight on Happyeasygo.com.</span>
											</li>
											<li class="clearfix">
												<span class="no no2">02</span>
												<span class="text">Click on the BOOK button of your selected flight and choose Cashback Price.</span>
											</li>
											<li class="clearfix">
												<span class="no no3">03</span>
												<span class="text">Complete the booking process.</span>
											</li>
											<!-- <li class="clearfix">
												<span class="no no4">04</span>
												<span class="text">Pay securely &amp; complete your booking.</span>
											</li> -->
											<li class="clearfix">
											 <span class="no no4">04</span>
												<span class="text">Cashback will be credited into your Happy Gold account in 1 hour after you complete your payment.</span>
											</li>
											<li class="clearfix">
											 <span class="no no5">05</span>
												<span class="text">Your cashback will be activated when your flight departs and then can be used to pay for your booking.</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- <div class="fore">
									<ul class="title clearfix">
										<li>
											<p>Total Amount of Cashback</p>
										</li>
									</ul>
									<div class="forecon totalcash">
										<p>
											The total amount of cashback is equal to the total instant discounts.
										</p>
										<p>
											For example: if the instant discount amount of your flight is Rs.600, then you can get Rs.600 cashback in your Happy Gold account if you book it with cashback price. <br>
											Besides, the cashback amount is dependent on the instant discount amount of every unique trip ID, and will be accumulated if multiple flight tickets booked on the same trip ID. For example, if you book one ticket with cashback price via happyeasygo.com, you'll receive the cashback for this ticket. If you book two tickets with cashback price, you'll get the cashback for these two tickets.
										</p>
									</div>
								</div> -->
							</div>
						</div>
						<div class="piece">
							<div class="tabBar">
								<ul class="nav nav-tabs" role="tablist">
									<li class="active" role="presentation">
										<a href="#terms" data-toggle="tab" role="tab" aria-controls="terms">Terms and Conditions</a>
									</li>
									<li class="" role="presentation">
										<a href="#faqs" data-toggle="tab" role="tab" aria-controls="faqs">FAQs</a>
									</li>
								</ul>
							</div>
							<div class="tab-content tabcon">
								<div class="tab-pane terms active" id="terms">
									<ul>
										<li>Create an account  by signing up to become HappyEasyGo user.</li>
										<li>HappyEasyGo Cashback Program is applicable for HappyEsayGo Registered Users only. It is mandatory to Signup or login to avail cashback offer. </li>

										<li>The cashback amount in your Happy Gold Wallet can be redeemed with various coupons, discounts and offers extended by HappyEasygGo.</li>
										
										<li>In case of a cancellation/refund (by airline or provider), your booking shall not be eligible for any cashback. The credited cashback amount will be deducted from the total refund due.</li>
										<li>
											In case of cancellation / refund, user wouldn’t be eligible for any cashback. The cashback credited will be deducted from the total refund due.
										</li>
										<li>
											HappyEasyGo has the sole right to decide on the amount of cashback and the eligibility for the HappyEasyGo Cashback Program, sole right to alter and/or amend the terms and conditions of the HappyEasyGo Cashback Program and cashback amount at any time and also reserves the right to cancel a cashback in case booking details are found to be fraudulent.
										</li>
										<li>
											HappyEasyGo Cashback is a promotional scheme by HappyEasyGo for its registered users only. The scheme starts from 30 Aug 2017.
										</li>
										<li>
											HappyEasyGo would like to contact its registered users for its promotional activities or feedback during the course of the HappyEasyGO Cashback Program
										</li>
										<li>
											All other standard terms and conditions available at HappyEasyGo.com shall apply.
										</li>
										<li>
											Any disputes arising out of this offer shall be subject to the exclusive jurisdiction of competent courts in Gurgaon, Haryana, India.
										</li>
									</ul>
								</div>
								<div class="tab-pane faqs" id="faqs">
									<ul>
										<li>
											<h4>What is Happy gold?</h4>
											<div class="answer">
												<p>Happy gold is a kind of e - cash given by HappyEasyGo to its Users under our Happy Wallet Program and it has no usage limit or expiry date.</p>
											</div>
										</li>
										<li>
											<h4>what is HappyEasyGo Cashback program?</h4>
											<div class="answer">
												<p>HappyEasyGo Cashback is a special reward program provided to the registered users only.</p>
											</div>
										</li>
										<li>
											<h4>When will I receive my cashback?</h4>
											<div class="answer">
												<p>Cashback will be credited in your Happy Gold Wallet after one hour of your payment .It will be activated for usage  only after the flight departs.</p>
											</div>
										</li>
										<li>
											<h4>How can I use my cashback?</h4>
											<div class="answer">
												<p>Your cashback credited in your Happy Gold Wallet  is available to use only after the flight departs. User can use it by selecting “Use my Happy Gold XXX” on the review your flight detail page for next subsequent bookings.</p>
											</div>
										</li>
										<li>
											<h4>Do I need to pay for the difference amount of the ticket at the time of rescheduling my flight?</h4>
											<div class="answer">
												<p>HappyEasyGo will provide the assistance for rescheduling your flight however the amount difference of the would be borne by the user only.</p>
											</div>
										</li>
										<li>
											<h4>How can I reschedule my flight?</h4>
											<div class="answer">
												<p>Your can submit your reschedule request on our website. The user gets a chance to reschedule his flight under the same Airlines however the passenger, departure and destination cannot be altered.</p>
											</div>
										</li>
									</ul>
									<p>
										<a href="/wallet-terms" class="colorWar">Know more about Happy Wallet Program.</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>